# 1. Credentials and Secrets
.env
*.env
auth.json
secrets.json

# 2. Python Environment
venv/
env/
.venv/
ENV/
bin/
lib/
include/

# 3. Python Caching & Junk
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# 4. OS Specific Files
.DS_Store
Thumbs.db

# 5. IDE Specific Files
.vscode/
.idea/
*.swp